<%= @post.caption%>
<br>

<%  if @post.photos.attached? %>
		<% @post.photos.each do |photo|%>
			<%= link_to rails_blob_path(photo, disposition: "attachment") do %>	
			<%end%>
		<%= image_tag photo, width: 200, height: 200 %>
		<%end%>
	<%else%>
		<p>No photo found.</p>
	<%end%>


<br>
<%= link_to 'Edit', edit_post_path(@post) %>
<br>
<%= link_to 'Delete Post', post_path(@post), 
	data: { turbo_method: :delete,
	turbo_confirm: "Are you sure?"} %>

	<br><a href="/">Home</a>